.main {
    min-height: 450px;
    padding: 20px 40px 0 40px;
}

.basket-block {
    display: flex;
    margin-bottom: 136px;
}

.order-block {
    width: 55%;
    padding-right: 32px;
}

.delivery-data-block {
    width: 45%;
}

form {
    margin: 0;
    padding: 0;
}
/* ----- ORDER ----- */

.order-text {
    color: #2D3F2F;
    font-family: 'Cakra-Normal', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 84px;
    margin-bottom: 40px;
}

.order-item {
    overflow: hidden;
    margin-bottom: 30px;
}

.order-desc {
    float: left;
    width: 90%;
}


table {
    width: 100%;
}

td {
    border: 2px solid #2D3F2F;
    vertical-align: top;
}

.img-column {
    width: 10%;
}

.order-img {
    width: 107px;
    height: 107px;
    padding: 4px;
}

.desc-column {
    padding: 25px 25px 0 11px;
}

.order-item-title {
    color: #2D3F2F;
    font-family: 'Ruberoid-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.order-item-quantity {
    color: #2D3F2F;
    font-family: 'Ruberoid-Medium', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.btn-minus,.btn-add {
    all: unset;
}

.order-item-price {
    color: #2D3F2F;
    font-family: 'Ruberoid-Medium', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.remove-order {
    float: right;
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-btn {
    all: unset;
}

.total-price {
    display: flex;
    justify-content: flex-end;

    color: #2D3F2F;
    font-family: 'Ruberoid-Medium', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.total-price-value {
    margin-left: 30px;
}
.total-price-value {
    margin-right: 105px;
}

/* ----- DELIVERY DATA ----- */

.delivery-data-text {
    color: #2D3F2F;
    font-family: 'Ruberoid-Medium', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    padding-top: 15px;
    margin-bottom: 56px;
}

.input-field {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: 2px solid #2D3F2F;
    border-radius: 3px;

    color: rgba(49, 49, 49, 0.7);
    background-color: #FFEFCD;
    font-family: 'Ruberoid-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.street-house-number-fields {
    overflow: hidden;

}

#street {
    float: left;
    width: 63%;
}

#houseNumber {
    float: right;
    width: 32%;
}

/* ----- PAYMENT ----- */

.payment-block {
    width: 580px;
    margin: 0 auto 130px auto;
}

.payment-text {
    color: #2D3F2F;
    font-family: 'Ruberoid-Medium', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
}

.payment-type-container {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.radio-text {
    color: #2D3F2F;
    font-family: 'Ruberoid-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

}

#online {
    margin-left: 10px;
}

.radio-btn {
    width: 27px;
    height: 27px;
    margin: 0 7px 0 0;
    border: 2px solid #2D3F2F;
    border-radius: 50%;
    position: relative;
}


.radio-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #2D3F2F;
    border: 2px solid #2D3F2F;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.radio-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background-color: #FFEFCD;
    border: 2px solid #2D3F2F;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.radio-btn::before {
    background-color: #2D3F2F;
}

.radio-btn::after {
    background-color: #FFEFCD;
}

.radio-btn:checked::before {
    opacity: 1;
    background-color: #FFEFCD;
}

.radio-btn:checked::after {
    opacity: 1;
    background-color: #2D3F2F;
}

.radio-btn:not(:checked)::before {
    background-color: #FFEFCD;
    border: 2px solid #2D3F2F;
    opacity: 1;
}

.submit-btn {
    all: unset;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 30px;
    border: 2px solid #2D3F2F;
    border-radius: 3px;

    color: #2D3F2F;
    background-color: #FFEFCD;
    font-family: 'Ruberoid-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.mob-basket-block {
    display: none;
}


@media only screen and (max-width: 600px) {

    .main {
        min-height: 450px;
        padding: 20px 15px 0 15px;
    }

    .basket-block {
        display: none;
    }
    .mob-basket-block {
        display: block;
    }

    .order-block {
        width: 100%;
        margin: 0;
        padding: 0 15px 0 25px;
    }
    .order-text {
        color: #2D3F2F;
        font-family: 'Cakra-Normal', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 29px;
        line-height: 41px;
        margin-bottom: 40px;
    }
    .order-item {
        width: 100%;
        max-width: 100vh;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .order-desc {
        float: left;
        width: 90%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }
    th, td {
        border: 1px solid  #2D3F2F;
        padding: 2px;
        border-radius: 10px;
        vertical-align: top;
    }
    .img-column {
        width: 10%;
    }
    .orders {
        padding: 0;
    }
    .order-img {
        width: 45px;
        height: 45px;
        padding: 2px;
    }
    .desc-column {
        padding: 5px 5px 0 2px;
    }
    .order-item-title {
        color: #2D3F2F;
        font-family: 'Ruberoid-Regular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
    .order-item-quantity {
        color: #2D3F2F;
        font-family: 'Ruberoid-Medium', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }
    .btn-minus,.btn-add {
        all: unset;
    }
    .order-item-price {
        color: #2D3F2F;
        font-family: 'Ruberoid-Medium', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }
    .remove-order {
        float: right;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .remove-btn {
        all: unset;
    }
    .remove-img {
        width: 15px;
        height: 15px;
    }
    .total-price {
        display: flex;
        justify-content: flex-end;
        padding: 0 65px 0 0;


        color: #2D3F2F;
        font-family: 'Ruberoid-Medium', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }

    /*    --------- */

    .input-data-form {
        margin: 0;
    }
    .delivery-data-block {
        width: 100%;
        padding: 0 42px;
    }
    .delivery-data-text {
        color: #2D3F2F;
        font-family: 'Ruberoid-Medium', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        padding-top: 65px;
        margin-bottom: 20px;
    }
    .input-field {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #2D3F2F;
        border-radius: 10px;

        color: rgba(49, 49, 49, 0.7);
        background-color: #FFEFCD;
        font-family: 'Ruberoid-Regular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
    .street-house-number-fields {
        overflow: hidden;
    }
    #street1 {
        float: left;
        width: 63%;
    }
    #houseNumber1 {
        float: right;
        width: 32%;
    }

    /*    --------- */

    .payment-block {
        width: 100%;
        margin: 42px 0 61px 0;
        padding: 0 42px;
    }
    .payment-text {
        padding: 0;
        color: #2D3F2F;
        font-family: 'Ruberoid-Medium', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
    }
    .payment-type-container {
        margin: 10px 0 0 0;
        padding: 0;
        display: flex;
        align-items: center;
    }
    .radio-text {
        color: #2D3F2F;
        font-family: 'Ruberoid-Regular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 13px;
    }
    #online {
        margin-left: 10px;
    }
    .radio-btn {
        width: 14px;
        height: 14px;
        margin: 0 7px 0 0;
        border: 2px solid #2D3F2F;
        border-radius: 50%;
        position: relative;
    }
    .radio-btn::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #2D3F2F;
        border: 2px solid #2D3F2F;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }
    .radio-btn::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 60%;
        border-radius: 50%;
        background-color: #FFEFCD;
        border: 2px solid #2D3F2F;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }
    .radio-btn::before {
        background-color: #2D3F2F;
    }
    .radio-btn::after {
        background-color: #FFEFCD;
    }
    .radio-btn:checked::before {
        opacity: 1;
        background-color: #FFEFCD;
    }
    .radio-btn:checked::after {
        opacity: 1;
        background-color: #2D3F2F;
    }
    .radio-btn:not(:checked)::before {
        background-color: #FFEFCD;
        border: 2px solid #2D3F2F;
        opacity: 1;
    }
    .rest {
        padding: 0;
    }
    .submit-btn {
        all: unset;
        width: 100%;
        padding: 10px 0;
        border: 1px solid #2D3F2F;
        border-radius: 10px;

        color: #2D3F2F;
        background-color: #FFEFCD;
        font-family: 'Ruberoid-Regular', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
    }

}
