@font-face{
    font-family: "Ruberoid-Regular";
    src: url("../fonts/Ruberoid-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "Ruberoid-Medium";
    src: url("../fonts/Ruberoid-Medium.ttf") format("truetype");
}

@font-face{
    font-family: "Cakra-Normal";
    src: url("../fonts/Cakra-Normal.otf") format("opentype");
}

@font-face{
    font-family: "Moot jungle";
    src: url("../fonts/mootjunglefreeversionregular-mv4rw.ttf") format("truetype");
}

:root {
    --mainWheat: #FFEFCD;
    --customOrange:#E59500;
    --darkGreen: #2D3F2F;
    --redishOrange: #E55200;
}

html, body {
    /* overflow-x: hidden; */
}

.mobile {
    display: none;
}

.pc {
    display: initial;
}

.navbar {
    z-index: 55;
}

.back-img {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    filter: brightness(50%);
}

.logo {
    z-index: 55;
    position: absolute;
    width: 666.54px;
    height: 287px;
    top: 20%;
    left: 10%;
}

.first-block{
   display: flex;
   height: 770px;
}

.first-block p {
    z-index: 55;
    color: var(--mainWheat);
    font-family: "Ruberoid-Regular";
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 20px;
}

.btn-reservation{
    z-index: 55;
    position: absolute;
    top: 50%;
    right: 25%;
}

.btn-delivery{
    z-index: 55;
    position: absolute;
    top: 70%;
    right: 10%;
}

.nav-item a {
    color: var(--mainWheat);
    font-family: "Ruberoid-Regular";
    font-size: 16px;
    line-height: 21.49px;
}

.nav-item a:hover{
    text-decoration: underline;
}

.nav-item a:visited{
    color: var(--mainWheat);
}

.about-us-block {
    background-color: var(--mainWheat);
    height: 763px;
    position: relative;
}

.header {
    font-family: "Cakra-Normal";
    font-size: 130px;
    line-height: 144px;
}

.usual-text {
    font-family: "Ruberoid-Regular";
    font-size: 20px;
}

.about-us-block p{
    color: var(--darkGreen);
}

.about-us-block img:first-of-type {
    position: absolute;
    right: 10%;
    top: 20%;
}

.about-us-block p:nth-child(2) {
    position: absolute;
    right: 45%;
    top: 20%;
}

.about-us-block img:last-of-type {
    position: absolute;
    left: 10%;
}

.about-us-block p:last-of-type {
    position: absolute;
    left: 27%;
    top: 82%;
}

.statistics {
    background-color: var(--darkGreen);
    height: 500px;
}

.light-header {
    font-family: "Ruberoid-Medium";
    color: var(--mainWheat);
    font-size: 80px;
    text-align: center;
}

.statistic-wrapper {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 270px;
    align-items: center;
    text-align: center;
    column-gap: 35px;
}

.value {
    font-family: "Ruberoid-Regular";
    color: var(--mainWheat);
    font-size: 60px;
}

.item-4 {
    width: 170px;
}

.value:hover {
    transform: scale(1.18);
    color: var(--customOrange);
    transition: all .25s ease-in-out;
}

.part-of-menu {
    height: 770px;
    background-color: var(--mainWheat);
    position: relative;
}

.little-headings{
    font-family: "Ruberoid-Medium";
    font-size: 24px;
    color: var(--darkGreen);
}

.description {
    font-family: "Ruberoid-Regular";
    font-size: 18px;
    color: var(--darkGreen);
}

.desc-1 {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.desc-2 {
    position: absolute;
    right: 5%;
    top: 10%;
}

.moveToMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 97%;
}

.moveFurther {
    color:var(--redishOrange);
    text-decoration: none;
    cursor: pointer;
}

.moveFurther:hover {
    color: #c84904;
}

.staff {
    height: 1200px;
    background-color: var(--darkGreen);
    position: relative;
}

.left-line {
    position: absolute;
    left: 0;
    bottom: -3px;
}

.right-line {
    position: absolute;
    right: 0;
    top: -3px;
}

.carousel-item {
    text-align: center;
}

.carousel {
    bottom: 10%;
}
 .carousel-item img {
    margin: auto;
}

.carousel-indicators {
    bottom: unset !important;
    padding-top: 20px !important;
}

.carousel-indicators button {
    border: 2px solid var(--mainWheat) !important;
    background-color: var(--darkGreen) !important;
    padding: 0;
    width: 10px !important;
    height: 10px !important;
    opacity: 1 !important;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
  }
  
.carousel-indicators button.active {
    background-color: var(--mainWheat) !important;
    background-clip: unset;
}

.name {
    padding-top: 20px;
    font-family: "Ruberoid-Medium";
    font-size: 36px;
    color: var(--mainWheat);
}

.about-chef{
    font-family: "Ruberoid-Regular";
    font-size: 28px;
    color: var(--mainWheat);
}

.carousel-control-next {
    right: 20% !important;
    margin-bottom: 10%;
}

.carousel-control-prev {
    left: 20% !important;
    margin-bottom: 10%;
}

.reviews {
    height: 1361px;
    background-color: var(--mainWheat);
}

.reviews-wrapper {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    gap: 45px;
}

.review {
    width: 25%;
}

.reviews-wrapper div:nth-child(even):not(.review-text){
    padding-top: 150px;
}

.review-3 {
    transform: translateY(-100px);
}

.review-4 {
    transform: translateY(70px);
}

.reviews p {
    color: var(--darkGreen);
}

.your-review {
    font-family: "Ruberoid-Regular";
    font-size: 40px;
    color: var(--darkGreen);
    text-align: center;
    padding-top: 90px;
}

.reviews input {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid var(--darkGreen);
    color: var(--darkGreen);
    font-family: "Ruberoid-Regular";
    width: 694px;
}

.reviews input:first-of-type{
    margin-top: 30px;
    height: 82px;
}

.reviews input:last-of-type{
    height: 157px;
}

input::placeholder {
    font-family: "Ruberoid-Regular";
    color: var(--darkGreen);
}

.contacts {
    height: 714px;
    background-color: var(--mainWheat);
    position: relative;
}

.contacts p:not(.header){
    font-family: "Ruberoid-Regular";
    font-size: 28px;
    color: var(--darkGreen);
}

.contacts a {
    text-decoration: none;
    color: var(--darkGreen);
}

.contacts a:hover {
    color: var(--customOrange);
}

.contacts div:first-of-type {
    display: flex;
    width: 52%;
    justify-content: space-between;
}

.icons { 
    display: flex;
    width: 13%;
    justify-content: space-between;
}

footer{
    background-color: var(--darkGreen);
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.logotype {
    width: 240px;
    height: 150px;
}

ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: var(--mainWheat);
}

footer a:hover {
    text-decoration: underline;
    color: var(--customOrange);
}

footer * {
    padding-top: 3%;
    color: var(--mainWheat);
    font-size: 18px;
}

.contact-info li{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    html, body {
        overflow-x: hidden;
    }

    body {
        position: relative
    }

    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    .first-block{
        height: 600px;
        background-color: var(--mainWheat);
    }

    .navbar {
        z-index: 55;
    }
    .first-block-mob img:nth-child(odd){
        position: absolute;
        padding-top: 80px;
        left: 0;
    }
    
    .first-block-mob img:nth-child(even){
        position: absolute;
        right: 0;
        padding-top: 275px;
    }

    .first-block-mob a img {
        z-index: 998;
    }

    .first-block-mob a:first-of-type {
        display: inline-block;
        padding-top: 375px;
    }

    .first-block-mob a:last-of-type {
        display: inline;
        position: absolute;
        left: 50%;
        padding-top: 425px;
    }

    #burger-menu {
        position: absolute;
        right: 5%;
        top: 5%;
        border: none;
        color: var(--darkGreen);
    }

    .navbar-toggler-icon{
        background-image: url(../images/burger.svg) !important;
    }

    .navbar-collapse { 
        background-color: var(--darkGreen);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        text-transform: uppercase;
    }

    .overlay {
        display: none;
        z-index: 998;
    }
      
    #ua-img {
        position: absolute;
        top: 6%;
        left: 5%;
        z-index: 999;
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 60px;
        color: var(--mainWheat);
        background-color: transparent;
        border: none;
        outline: none;
    }

    .nav-item {
        padding: 0 !important;
    }

    .nav-item a {
        font-size: 18px;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .navbar-nav {
        padding-top: 70px;
        display: block;
        padding-left: 85px;
        padding-bottom: 65px;
    }

    .nav-item a:hover{
        text-decoration: none;
        color: var(--customOrange);
    }
    
    .nav-item a:active{
        color: var(--customOrange);
    }

    .about-us-block{
        height: 500px;
    }

    .header{
        font-size: 40px;
        line-height: 56px;
        color: var(--mainWheat);
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 0 !important;
    }

    .about-us-block img:first-of-type {
        height: 157px !important;
        top: 30%;
        width: 134px !important;
        padding: 0;
        right: 5%;
    }

    .about-us-block img:last-of-type {
        height: 91px;
        width: 91px;
        position: absolute;
        top: 50%;
    }

    .usual-text {
        font-size: 12px;
        position: absolute;
    }

    .about-us-back {
        position: absolute;
        left: 0;
        height: 500px;
        width: 100%;
        z-index: 5;
        background-color: var(--darkGreen);
        border-top-left-radius: 1000px;
        border-top-right-radius: 1000px;
    }

    .about-us-block p {
        color: var(--mainWheat);
    }

    #ut-1 {
        left: 5%;
    }

    #ut-2 {
        left: 20%;
        top: 73%;
    }

    .statistics {
        height: 300px;
    }

    .light-header {
        font-size: 30px;
        padding-top: 0 !important;
    }

    .statistic-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 100px;
        column-gap: 0px;
    }

    .value {
        font-size: 25px;
    }

    .statistic-wrapper p {
        position: relative;
        color: var(--mainWheat);
    }

    .item-2, 
    .item-4 {
        width: 110spx;
    }

    .item-1, 
    .item-3 {
        width: 135px;
    }

    .part-of-menu {
        height: 460px;
    }
    
    .part-of-menu img{
        width: 156px;
        height: 156px;
    }

    #pizza-menu{
        position: absolute;
        left: 7%;
        top: 10%;
        margin-left: 0 !important;
        margin-top: 0 !important;
    }

    .little-headings {
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 0 !important;
    }

    .description {
        font-size: 12px;
    }

    .desc-1 {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 7%;
        top: 8%;
        width: 40%;
    }

    .desc-2 {
        left: 7%;
        top: 55%;
        display: flex;
        align-items: flex-start;
        width: 90%;
    }

    .desc-2-text {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 1%;
        width: 47%;
    }

    .menu-arrow {
       width: 40.6px !important;
    }

    .desc-1-arrow {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        position: absolute;
        top: 60%;
    }

    .desc-1-arrow a, .desc-2-arrow a{
        font-size: 12px;
        font-weight: bold;

    }

    .staff {
        height: 577px;
        background-color: var(--mainWheat);
    }

    .staff-back {
        background-color: var(--darkGreen);
        border-top-left-radius: 1000px;
        border-top-right-radius: 1000px;
        border-bottom-left-radius: 1000px;
        border-bottom-right-radius: 1000px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 577px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .staff-back img {
        transform: scale(0.45);
    }

    .carousel {
        bottom: 25%;
    }

    .name {
        font-size: 15px;
        position: absolute;
        bottom: 20%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .about-chef {
        font-size: 12px;
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .carousel-item {
        width: auto;
    }

    .carousel-indicators button {
        border: 1px solid var(--mainWheat) !important;
        width: 7px !important;
        height: 7px !important;
    }

    .carousel-indicators {
        position: absolute;
        bottom: -5% !important;
    }

    .carousel-control-prev img,
    .carousel-control-next img {
        width: 150px;
        position: absolute;
        top: 55%;
    }

    .carousel-control-prev img{
        right: 0;
    }

    .carousel-control-next img{
        left: 0;
    }

    .reviews {
        height: 720px;
    }

    .reviews-wrapper img{
        height: 82px;
        width: 82px;
    }

    .review .name {
        font-size: 12px;
        position: relative;
        margin: 0;
        padding-bottom: 5px;
    }

    .reviews-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 100px;
    }

    .review {
        width: 100%;
        transform: none;
        padding-top: 0 !important;

    }

    .review-text {
        width: 55%;
        position: absolute;
        right: 7%;
        padding-top: 0 !important;
        transform: translateY(-105px);
    }

    .reviews input {
        width: 285px;
        height: 34px !important;
        border-radius: 7px;
    }

    .reviews input:first-of-type {
        margin-top: 10px;
    }

    .your-review {
        font-size: 16px;
        padding-top: 20px;
        margin-bottom: 0;
    }

    .contacts {
        height: 500px;
    }

    .contacts .header {
        color: var(--darkGreen);
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .contacts p:not(.header){
        font-size: 16px;
        padding-left: 20px !important;
        margin-bottom: 0;
    }

    #spaghetti-img {
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        margin: auto;
    }

    .contacts div:first-of-type {
        width: 100%;
        padding-left: 1px !important;
    }

    .icons {
        position: absolute;
        right: 5%;
        width: 40%;
        bottom: 33%;
    }

    .icons img {
        width: 25px;
        height: 25px;
    }
    
    footer {
        height: 136px;
    }

    footer .logotype {
        height: 53.46px;
        width: 124.15px;
        position: absolute;
        left: 3%;
    }

    footer * {
        font-size: 10px;
    }

    footer p:last-of-type {
        position: absolute;
        left: 6%;
        bottom: 0;
    } 

    .contact-info *{
        padding-top: 0;
    }

    .contact-info {
        position: absolute;
        right: 5%;
    }

    #working-time {
        position: absolute;
        bottom: 0;
        right: 17%;
    }

    .quick-links {
        position: absolute;
        left: 30%; 
    }
}